// body var
$montserratFont: 'Montserrat', sans-serif;
$openSansFont: 'Open Sans', sans-serif;

$iconFont: 'FontAwesome';
$icomoon: 'icomoon';


// default color set

$color-primary: #ffb923;
$color-gray: #ededed;
$color-black: #191919;
$white-color: #FFFFFF;

$title-color: #282828;
$section-bg: #f8fafe;
$section-bg-gray: #d7d7d7;
$section-bg-white: #ffffff;

// social color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-dribbble: #ea4c89;
$color-pinterest: #bd081c;
$color-instagram: #e1306c;
$color-google-plus: #D8443D;
$color-linkedin: #dd5143;

// demo color

$color-1: #0285a8;
$color-2: #da727e;
$color-3: #02bec4;
$color-4: #455c7b;

// Title color

$small-title-color: #ffb923;

//ex

$white-color: #fff;
$primary-color: #ffb923;
$primary-dark: #ffb923;
$secondary-color:#3b1d82;
$title-color: #1c1c24;
$gray-color: #777777;
$gray-light: #f1f1f1;
$gray-dark: #5a5a5a;

$primary-green : #6cba40;
$primary-blue : #4381fd;
$primary-blue-dark : #005689;
$primary-yellow : #ffaf31;

